body {
	padding: 0;
	margin: 0;
}

header, nav, .content, footer {
	min-width: 1024px;
	width: 1024px;
	margin: 0 auto;
	padding: 20px;
}

header .picture,
header .description {
	display: inline-block;
	vertical-align: top;
}

header .picture {
	margin-right: 15px;
}

header .description {
	margin-top: 8px;
}

ul.menu {
	padding: 0;
	margin: 0;
}

ul.menu li {
	list-style-type: none;
	display: inline-block;
}